<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/public/styles.css" />
    <script
      src="https://cdn.socket.io/4.6.0/socket.io.min.js"
      integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
      crossorigin="anonymous"
    ></script>
    <title>CyberChatter</title>
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1>CyberChatter</h1>
        <div class="header-actions"><button>Log In</button></div>
      </div>
    </header>
    <main><%- content %></main>
    <footer></footer>
    <script src="../../dist/public/client.js"></script>
  </body>
</html>
