<!-- views/index.ejs -->
<!DOCTYPE html>

<!-- TODO: move to public/client.js -->
<h1><%= message %></h1>

<form id="messageForm">
  <input type="text" id="messageInput" placeholder="Type a message" />
  <button type="submit">Send</button>
</form>

<ul id="messages"></ul>
