<!-- views/index.ejs -->

<h1><%= message %></h1>

<div class="chat-container">
  <div class="messages-container">
    <div class="messages">
      <ul id="message-list"></ul>
    </div>

    <div class="textbox">
      <form id="messageForm">
        <input type="text" id="messageInput" placeholder="Type a message" />
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
  <div class="chat-members">
    <ul>
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
    </ul>
  </div>
</div>
