:root {
  --teal-blue: #008080;
  --hot-pink: #ff69b4;
  --lime-green: #00ff00;
  --sunny-yellow: #ffff00;
  --purple-haze: #800080;
  --turquoise: #40e0d0;
  --radical-red: #ff355e;
  --electric-blue: #0000ff;
  --flaming-orange: #ffa500;
  --bubblegum-pink: #ffc0cb;
  --gray: #808080;
  --deep-red: #802000;
}

body {
  display: grid;
  grid-template-rows: 55px 1fr 55px;
  gap: 10px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--teal-blue);
}

header {
  display: flex;
  align-items: center;
  background-color: var(--lime-green);
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

header h1 {
  font-size: larger;
  color: var(--purple-haze);
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.chat-container {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-areas:
    "messages-container chat-members"
    "textbox chat-member";
  grid-template-rows: 500px 1fr;
  gap: 12px;
  height: 100%;
}

.messages-container {
  display: flex;
  flex-direction: column;
}
.messages {
  flex: 1;
}

.textbox {
  height: 75px;
}

.textbox form {
  display: flex;
}

.textbox form input {
  flex: 1;
}

h1 {
  margin: 0;
  padding: 0;
}
